            * {
                margin: 0;
                box-sizing: border-box;
            }
            
            html {
                position: relative;
            }
            
            body {
                background: url('./assets/bg-image.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 100vh;
                overflow: hidden;
            }
            
            header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 15px 0;
            }
            
            header>div {
                display: flex;
            }
            
            header img {
                margin: 0 50px;
                width: 3rem;
            }
            
            h3 {
                transform: translate(-122px, 10px);
                align-self: end;
                text-decoration: underline;
                color: #cddc39;
                text-transform: uppercase;
                font-size: 1rem;
                font-style: oblique;
            }
            
            button {
                border: 1px solid #cddc39;
                border-radius: 10px;
                background-color: transparent;
                color: #cddc39;
                font-size: 1rem;
                box-shadow: none;
                cursor: pointer;
            }
            
            header>button {
                max-height: 2rem;
                margin: 0 25px;
                transform: translate(0, 20px);
                min-width: 5rem;
            }
            
            button:hover {
                background-color: #cddc39;
                color: black;
            }
            
            main {
                position: absolute;
                top: 50%;
                left: 10%;
                color: #cddc39;
                transform: translate(0, -50%);
            }
            
            main>* {
                line-height: 2rem;
            }
            
            h1 {
                margin-top: 0.5rem;
                font-size: 5rem;
                font-weight: 700;
            }
            
            main>button {
                margin: 2rem 0;
                margin-left: 1rem;
            }
            
            aside {
                position: absolute;
                max-width: 2rem;
                height: 100vh;
                background-color: rgb(0, 0, 0, 0.5);
                right: 0;
                top: 0;
            }
            
            aside img {
                width: 1rem;
                margin-top: 1rem;
            }
            
            aside>div:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                top: 50%;
            }
            
            aside>div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                bottom: 10%;
            }